services:
  yourdomain-ddns:
    image: ghcr.io/xx-mrn0b0dy-xx/ovh-ddns:latest
    container_name: yourdomain-ddns
    restart: always
    environment:
      HOSTNAME: "${HOSTNAME}"
      LOGIN: "${LOGIN}"
      PASSWORD: "${PASSWORD}"
      LOG_TYPE: 'file'
      REFRESH_TIME: 5 #m
    volumes:
      - ./log/yourdomain-ddns:/var/log/app #mounting a folder because I will implement log rotation in the future
      - /etc/localtime:/etc/localtime:ro