name: build-publish-manual

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write #for pushing tag and release
      packages: write #for GHCR
      id-token: write #for cosign

    steps:
      - name: Normalize image name to lowercase
        run: |
          IMAGE_NAME=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV #the syntax cuz u literally adding this variable written like this

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read, bump and commit new version #need to run after checkout
        run: |
          # Read version and upgrade
          VERSION_FILE=".version"
          # Default to v1.0 if file doesn't exist
          if [ ! -f "$VERSION_FILE" ]; then echo "v1.0" > "$VERSION_FILE"; fi
          VERSION=$(cat .version)
          INCREMENT=$(echo $VERSION | sed 's/v//' | awk -F. '{printf "%d.%d", $1, $2+1}')
          VERSION="v$INCREMENT"
          echo "$VERSION" > $VERSION_FILE

          # Propagate to GITHUB_ENV
          echo "VERSION=$VERSION" >> "$GITHUB_ENV" #the syntax cuz u literally adding this variable written like this

          # Commit new version
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .version
          git commit -m "Bump version to $VERSION"
          git push origin main

      # Install the cosign tool
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        uses: sigstore/cosign-installer@v3.5.0

      # Set up BuildKit Docker container builder (that on GitHub able to build only amd64) so I also have to enable QEMU for ARM64
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Login against a Docker registry
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push Docker image with Buildx and QEMU also taking into account the tags I want
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image amd64
        id: build-and-push-amd64
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-amd64
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}-amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push Docker image arm64
        id: build-and-push-arm64
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-arm64
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}-arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push multi-arch manifest
        run: |
          docker buildx imagetools create \
            -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest \
            -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }} \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-amd64 \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-arm64

      # Sign the resulting Docker image digest.
      # This will only write to the public Rekor transparency log when the Docker repository is public to avoid leaking data.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        run: |
          cosign sign --yes ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cosign sign --yes ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          cosign sign --yes ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-amd64
          cosign sign --yes ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-arm64

      # Create a GitHub Release
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: "Release ${{ env.VERSION }}"
          body: |
            Docker image published:
            - `${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest` (Multi-arch)
            - `${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}` (Multi-arch)
            - `${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-amd64`
            - `${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}-amd64`
            - `${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest-arm64`
            - `${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}-arm64`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
